# dependencies
node_modules

# testing
coverage

# production
build
dist

# configuration
.eslintrc.*
*.config.js

# misc
.DS_Store
.env.*local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
debug.log
.nyc_output
.vscode