# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai 

# Core Code
/src/ @gerred @YrrepNoj @gphorvath
/static/ @gerred @YrrepNoj @gphorvath

# Packaging
/manifests/ @gerred @YrrepNoj @gphorvath
/zarf-config.yaml @gerred @YrrepNoj @gphorvath
/zarf.yaml @gerred @YrrepNoj @gphorvath
/Dockerfile @gerred @YrrepNoj @gphorvath

# Pipeline and Project Files
/.github/ @gerred @YrrepNoj @gphorvath
/.env.example @gerred @YrrepNoj @gphorvath
/.gitignore @gerred @YrrepNoj @gphorvath
/.npmrc @gerred @YrrepNoj @gphorvath
/.pre-commit-config.yaml @gerred @gphorvath
/*.config.js @gerred @YrrepNoj @gphorvath
/*.json @gerred @YrrepNoj @gphorvath


# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred
