# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai 

# Core Code
/src/ @gerred @YrrepNoj @gphorvath @collectiveunicorn
/static/ @gerred @YrrepNoj @gphorvath @collectiveunicorn

# Packaging
/manifests/ @gerred @YrrepNoj @gphorvath @collectiveunicorn
/zarf-config.yaml @gerred @YrrepNoj @gphorvath @collectiveunicorn
/zarf.yaml @gerred @YrrepNoj @gphorvath @collectiveunicorn
/Dockerfile @gerred @YrrepNoj @gphorvath @collectiveunicorn

# Pipeline and Project Files
/.github/ @gerred @YrrepNoj @gphorvath @collectiveunicorn
/.env.example @gerred @YrrepNoj @gphorvath @collectiveunicorn
/.gitignore @gerred @YrrepNoj @gphorvath @collectiveunicorn
/.npmrc @gerred @YrrepNoj @gphorvath @collectiveunicorn
/.pre-commit-config.yaml @gerred @gphorvath @collectiveunicorn
/*.config.js @gerred @YrrepNoj @gphorvath @collectiveunicorn
/*.json @gerred @YrrepNoj @gphorvath @collectiveunicorn


# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred
