@tailwind base;
@tailwind components;
@tailwind utilities;

.code-span {
    border-radius: 5px;
    overflow-x: auto;
    display: inline-flex;
    font-family: 'Fira Code', monospace;
    font-size: small;
}

.code-span > pre code.hljs {
    padding: 0 4px !important;
}

.code-block {
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Fira Code', monospace;
    font-size: small;
}
