@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    .user-message {
        background-color: #34495E; /* Dark Blue */
        color: #ECF0F1; /* Light Grey */
    }

    .assistant-message {
        background-color: #2C3E50; /* Even Darker Blue */
        color: #ECF0F1; /* Light Grey */
    }

    .bg-dark-blue {
        background-color: #0D133D; /* dark blue */
    }

    .bg-blue-800 {
        background-color: #0D133D; /* lighter blue */
    }

    .bg-blue-600 {
        background-color: #0A0E2E;
    }

    .code-span {
        background-color: #f5f5f5;
        border-radius: 5px;
        overflow-x: auto;
        display: inline-flex;
        font-family: 'Fira Code', monospace;
        font-size: small;
    }

    .code-span > pre code.hljs {
        padding: 0 4px !important;
    }

    .code-block {
        background-color: #f5f5f5;
        border-radius: 5px;
        overflow-x: auto;
        font-family: 'Fira Code', monospace;
    }

    .copy-button {
        cursor: pointer;
        color: #666;
        margin-right: 10px;
    }

    .language-label {
        font-size: 0.8em;
        color: #666;
        margin-left: 10px;
        margin-right: 5px
    }
}

.light {
    .user-message {
        background-color: #F5F5F5; /* Light Grey */
        color: #000000; /* Black */
    }

    .assistant-message {
        background-color: #E8E8E8; /* Slightly Darker Grey */
        color: #000000; /* Black */
    }

    .bg-dark-blue {
        background-color: #14539a; /* dark blue */
    }

    .bg-blue-800 {
        background-color: #14539a; /* lighter blue */
    }

    .bg-blue-600 {
        background-color: #5c80a9;
    }

    .code-span {
        background-color: #34495E;
        border-radius: 5px;
        overflow-x: auto;
        display: inline-flex;
        font-family: 'Fira Code', monospace;
        font-size: small;
    }

    .code-span > pre code.hljs {
        padding: 0 4px !important;
    }

    .code-block {
        background-color: #34495E;
        border-radius: 5px;
        overflow-x: auto;
        font-family: 'Fira Code', monospace;
    }

    .copy-button {
        cursor: pointer;
        color: white;
        margin-right: 10px;
    }

    .language-label {
        font-size: 0.8em;
        color: white;
        margin-left: 10px;
        margin-right: 5px
    }
}

.btn-selected {
    background-color: #0000cd;
    color: white;
}

input[type=button] {
    outline: none;
}

.chat-container {
    height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-container::-webkit-scrollbar {
    width: 10px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: #888;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.underline-heading {
    text-decoration: underline;
}